{
  "port": 5000,
  "client_id": "",
  "client_secret": "",
  "token": "xoxb-replace",
  "signin_secret": "",
  "command": "openpoll",
  "help_link": "https://github.com/kazualex/openpollslack.git"
}
